{% macro task_item(data, projectId) %}
{% for item in data %}


<tr>
    <td>
        <div class="d-flex align-items-center">

            <div class="orderDatatable-title">
                <p class="d-block mb-0">
                    {{ item.Task.name }}
                </p>
            </div>
        </div>
    </td>
    <td>
        <div class="orderDatatable-title">
            <button class="btn btn-secondary btn-default btn-rounded btn-xs px-15 view-description" data-description="{{ item.Task.description }}" data-bs-toggle="modal" data-bs-target="#modal-info">
                View
            </button>
        </div>
    </td>
    <td>
        <div class="orderDatatable-status d-inline-block">
            <span
                class="order-bg-opacity-{{ 'secondary' if item.Task.type=='daily' or item.Task.type=='weekly' else 'warning' if item.Task.type=='monthly' else 'danger' if item.Task.type=='urgent' }}  text-{{ 'secondary' if item.Task.type=='daily' or item.Task.type=='weekly' else 'warning' if item.Task.type=='monthly' else 'danger' if item.Task.type=='urgent' }} rounded-pill active">{{
                item.Task.type }}</span>
        </div>
    </td>
    <td>
        <div class="orderDatatable-status d-inline-block">
            <span
                class="order-bg-opacity-{{ 'success' if item.Task.fulfillment=='completed' else 'warning' if item.Task.fulfillment=='pending' or item.Task.fulfillment=='awaiting' else 'danger' if item.Task.fulfillment=='notcompleted' }}  text-{{ 'success' if item.Task.fulfillment=='completed' else 'warning' if item.Task.fulfillment=='pending' or item.Task.fulfillment=='awaiting' else 'danger' if item.Task.fulfillment=='notcompleted' }} rounded-pill active">{{
                'Pending' if item.Task.fulfillment=='awaiting' else 'Not completed' if
                item.Task.fulfillment=='notcompleted' else
                item.Task.fulfillment }}</span>
        </div>
    </td>
    <td>
        <div class="orderDatatable-title">
            {{ item.User.name }}
        </div>
    </td>
    <td>
        <div class="orderDatatable-title">
            {{ item.User.mobile }}
        </div>
    </td>
    {% if item.Task.type=="monthly" %}
    <td>
        {% set schedule = item.Task.schedule| parse_json %}
        <div class="orderDatatable-title">
            {{ schedule[0] }}
        </div>
    </td>
    {% elif item.Task.type=="urgent" %}
    <td>
        <div class="orderDatatable-title">
            {{ item.Task.schedule }}
        </div>
    </td>
    {% endif %}
    <td>
        <div class="orderDatatable-title">
            {{ item.Task.end_time.strftime("%I:%M %p") }}
        </div>
    </td>
    <td>
        <div class="orderDatatable-title">
            <button class="btn btn-primary btn-default btn-rounded btn-xs px-15 ml-n3 view-description" data-description="{{ item.Task.note }}" data-bs-toggle="modal" data-bs-target="#modal-info">
                View
            </button>
        </div>
    </td>
    <td>
        <div class="orderDatatable-title">
            <button class="btn btn-info btn-default btn-rounded btn-xs px-15 view-description" data-description="{{ item.Task.complaint }}" data-bs-toggle="modal" data-bs-target="#modal-info">
                View
            </button>
        </div>
    </td>
    <td>
        <div class="orderDatatable-title">
            <button class="btn btn-secondary btn-default btn-rounded btn-xs px-15 view-image" data-path="{{ item.Task.image_server }}" data-bs-toggle="modal" data-bs-target="#modal-info">
                View
            </button>
        </div>
    </td>
    <td>
        <div class="orderDatatable-title">
            <button class="btn btn-success btn-default btn-rounded btn-xs px-15 view-video" data-path="{{ item.Task.video_server }}" data-bs-toggle="modal" data-bs-target="#modal-info">
                View
            </button>
        </div>
    </td>
    <td>
        <div class="orderDatatable-title">
            <button class="btn btn-primary btn-default btn-rounded btn-xs px-15 view-audio" data-path="{{ item.Task.voice_server }}" data-bs-toggle="modal" data-bs-target="#modal-info">
                View
            </button>
        </div>
    </td>
  
  	<td>
        <div class="orderDatatable-title">
            <button class="btn btn-success btn-default btn-rounded btn-xs px-15 view-file" data-path="{{ item.Task.file_server }}" data-bs-toggle="modal" data-bs-target="#modal-info">
                View
            </button>
        </div>
    </td>
    <td>
        <div class="orderDatatable-title">
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-default btn-rounded color-primary btn-outline-primary btn-xs px-sm priority-up" data-id="{{ item.Task.id }}">
                        <span class="la-arrow-up las p-sm"></span>
                    </button>
                </div>

                <div class="col-6">
                    <button class="btn btn-default btn-rounded color-warning btn-outline-warning btn-xs px-sm priority-down" data-id="{{ item.Task.id }}">
                        <span class="la-arrow-down las p-sm"></span>
                    </button>
                </div>
            </div>
            
        </div>
    </td>

    <td>
        <ul class="orderDatatable_actions mb-0 d-flex flex-wrap float-end">
            <li>
                <div class="form-check form-switch form-switch-primary form-switch-sm" bis_skin_checked="1">
                    <input type="checkbox" class="form-check-input status-change" data-id="{{ item.Task.id }}" id="switch-s2" {% if item.Task.status == 1 %}checked{% endif %}>
                    <label class="form-check-label" for="switch-s2"></label>
                </div>
            </li>
            <!-- <li>
                <a href="#" class="view">
                    <i class="uil uil-eye"></i>
                </a>
            </li> -->
            <li>
                <a href="{{ url_for('routes.edit_task', projectId=projectId, taskId=item.Task.id) }}" class="edit ml-3">
                    <i class="uil uil-edit"></i>
                </a>
            </li>
            <li>
                <a class="remove deleteBtn" data-id="{{ item.Task.id }}" data-bs-toggle="modal" data-bs-target="#modal-info-delete">
                    <i class="uil uil-trash-alt"></i>
                </a>
            </li>
        </ul>
    </td>
</tr>
<!-- End: tr -->


{% endfor %}
{% endmacro %}