{% macro tasker_item(data) %}
{% for item in data %}

<tr>
    <td>
       <div class="d-flex align-items-center">
          <div class="me-3 d-flex align-items-center">
             <a href="{{ url_for('routes.tasker_page', userId=item.id) }}" class="">
                <img src="{{ url_for('static', filename=item.avatar) }}" class="profile-image rounded-circle d-block m-0 wh-70" alt="Avatar">
            </a>
            
          </div>
          <div class="orderDatatable-title">
             <p class="d-block mb-0">
                {{ item.name }}
             </p>
          </div>
       </div>
    </td>
    <td>
       <div class="orderDatatable-title">
            {{ item.mobile }}
       </div>
    </td>
    <td>
       <div class="orderDatatable-title">
            {{ item.completedCount }}
       </div>
    </td>
    <td>
       <div class="orderDatatable-title">
          {{ item.notcompletedCount }}
       </div>
    </td>
    <td>
       <div class="orderDatatable-title float-end">
            <button class="btn btn-primary btn-default btn-rounded btn-xs px-15 view-audio view-offdays" data-offdays="{{ item.work_schedule }}" data-bs-toggle="modal" data-bs-target="#offdays">
                View
            </button>
       </div>
    </td>
 </tr>

{% endfor %}
{% endmacro %}