{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}

{% block content %}

<div class="contents">
   <div class="container-fluid">
      <div class="row">
         <div class="col-12">
            <div class="contact-breadcrumb breadcrumb-modal3">

               <div class="breadcrumb-main add-contact justify-content-sm-between ">
                  <div class=" d-flex flex-wrap justify-content-center breadcrumb-main__wrapper">
                     <div class="d-flex align-items-center add-contact__title justify-content-center me-sm-25">
                        <h4 class="text-capitalize fw-500 breadcrumb-title">Reminder list</h4>
                        <span class="sub-title ms-sm-25 ps-sm-25"></span>
                     </div>
                     <!-- 
                           <form action="/" class="d-flex align-items-center add-contact__form my-sm-0 my-2">
                              <img src="{{ url_for('static', filename='img/svg/search.svg') }}" alt="search" class="svg">
                              <input class="form-control me-sm-2 border-0 box-shadow-none" type="search" placeholder="Search by Name" aria-label="Search">
                           </form> -->

                  </div>

                  <div class="action-btn">
                     <a href="{{ url_for('routes.tasker_page', userId=userId) }}" class="btn px-15 btn-secondary">
                        <i class="las la-arrow-circle-left fs-16"></i>Back
                     </a>
                  </div>

               </div>

            </div>
            <!-- ends: contact-breadcrumb -->
         </div>
      </div>
      
      <form id="reminderForm" method="post">
         <div class="row mb-20">
            {{ form.hidden_tag() }}
            <div class="col-sm-4">
               <div class="row align-items-center d-flex">
                  <div class="col-3">
                     <label class="text-dark fw-500">Deadline:</label>
                  </div>
                  <div class="col-3">
                     <select class="form-control ih-medium ip-light radius-xs b-light px-15" id="hours">
                        <option value="" disabled selected>Hours</option>
                        {% for number in range(100) %}
                        <option value="{{ number }}">{{ number }}</option>
                        {% endfor %}
                     </select>
                  </div>
                  <div class="col-1 ml-n3 mr-n3"><span class="fw-500">:</span></div>
                  <div class="col-3">
                     <select class="form-control ih-medium ip-light radius-xs b-light px-15" id="minutes">
                        <option value="" disabled selected>Minutes</option>
                        {% for number in range(100) %}
                        <option value="{{ number }}">{{ number }}</option>
                        {% endfor %}
                     </select>
                  </div>
               </div>

               {{ form.deadline(id="deadline") }}
            </div>
            <div class="col-3">
               {{ form.to_user_id(id="to_user_id") }}
               <div class="row align-items-center d-flex">
                  <div class="col-3">
                     <label for="usersList" class="text-dark fw-500">Users:</label>
                  </div>
                  <div class="col-8">
                     <select id="usersList" class="form-control ih-medium ip-light radius-xs b-light px-15">
                    </select>
                  </div>
               </div>
            </div>
            <div class="col-1">
               {{ form.submit(class="btn btn-primary btn-default btn-squared btn-sm px-30 mt-10",
               id="submitBtn") }}
            </div>
         </div>
      </form>

      <div class="row contact-card-group" bis_skin_checked="1">

         <div class="list-box col-7" bis_skin_checked="1">
            <ul class="" id="remindersList">
            </ul>
         </div>

         <div class="dm-empty text-center" bis_skin_checked="1">
            <div class="dm-empty__image" bis_skin_checked="1">
               <img src="{{ url_for('static', filename='img/svg/1.png') }}" alt="Admin Empty">
            </div>
            <div class="dm-empty__text " bis_skin_checked="1">
               <p class="">No Data</p>
            </div>
         </div>

         
      </div>

   </div>
</div>

</main>
<div id="overlayer">
   <div class="loader-overlay">
      <div class="dm-spin-dots spin-lg">
         <span class="spin-dot badge-dot dot-primary"></span>
         <span class="spin-dot badge-dot dot-primary"></span>
         <span class="spin-dot badge-dot dot-primary"></span>
         <span class="spin-dot badge-dot dot-primary"></span>
      </div>
   </div>
</div>
<div class="overlay-dark-sidebar"></div>
<div class="customizer-overlay"></div>



{% endblock %}

{% block scripts %}

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBgYKHZB_QKKLWfIRaYPCadza3nhTAbv7c"></script>
<!-- inject:js-->
<script src="{{ url_for('static', filename='js/jquery/jquery-3.5.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery/jquery-ui.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap/popper.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/accordion.js') }}"></script>
<script src="{{ url_for('static', filename='js/apexcharts.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/autoComplete.js') }}"></script>
<script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/daterangepicker.js') }}"></script>
<script src="{{ url_for('static', filename='js/drawer.js') }}"></script>
<script src="{{ url_for('static', filename='js/dynamicBadge.js') }}"></script>
<script src="{{ url_for('static', filename='js/dynamicCheckbox.js') }}"></script>
<script src="{{ url_for('static', filename='js/footable.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/fullcalendar@5.2.0.js') }}"></script>
<script src="{{ url_for('static', filename='js/google-chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-jvectormap-2.0.5.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-jvectormap-world-mill-en.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.countdown.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.filterizr.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.peity.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.star-rating-svg.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='js/leaflet.markercluster.js') }}"></script>
<script src="{{ url_for('static', filename='js/loader.js') }}"></script>
<script src="{{ url_for('static', filename='js/message.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment.js') }}"></script>
<script src="{{ url_for('static', filename='js/muuri.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/notification.js') }}"></script>
<script src="{{ url_for('static', filename='js/popover.js') }}"></script>
<script src="{{ url_for('static', filename='js/select2.full.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/trumbowyg.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/wickedpicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/apexmain.js') }}"></script>
<script src="{{ url_for('static', filename='js/charts.js') }}"></script>
<script src="{{ url_for('static', filename='js/drag-drop.js') }}"></script>
<script src="{{ url_for('static', filename='js/footable.js') }}"></script>
<script src="{{ url_for('static', filename='js/full-calendar.js') }}"></script>
<script src="{{ url_for('static', filename='js/googlemap-init.js') }}"></script>
<script src="{{ url_for('static', filename='js/icon-loader.js') }}"></script>
<script src="{{ url_for('static', filename='js/jvectormap-init.js') }}"></script>
<script src="{{ url_for('static', filename='js/leaflet-init.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<!-- endinject-->

<script>

   $(document).ready(function () {

      var options = JSON.parse('{{ user_data|safe }}');
      var selectElement = $("#usersList");
     
     selectElement.append($("<option>", {
       text: "Select user",
       selected: "selected",
       disabled: "disabled"
     }));
     
     $("#usersList").change(function() {
        $('#hours').prop('disabled', false);
    	$('#minutes').prop('disabled', false);
     });
     
     $('#hours').attr('disabled', 'disabled');
     $('#minutes').attr('disabled', 'disabled');

      $('#deadline').wickedpicker({ now: "00:00", twentyFour: true, showSeconds: false });

      if (options.length == 0) {
         $('dm-empty').attr('hidden', '');

      }

      for (var i = 0; i < options.length; i++) {
         var value = options[i];

         selectElement.append($("<option>", {
            value: value.id,
            text: value.name
         }));
         
      }


      var options1 = JSON.parse('{{ reminder_data|safe }}');

      var sNo = 0;

      for (var i = 0; i < options1.length; i++) {
         sNo++;
         var value = options1[i];
         var deadline = value.deadline.split(':');
         var deadlineText = deadline[0] + ' hr ' + deadline[1] + ' min';
         var newItem = $('<li class="list-box__item mb-2 bg-white pt-20 pb-20">'+sNo+'. <span class="fw-600 fs-6">Assigned to: </span> &nbsp;&nbsp;<span class="dm-tag tag-primary fs-7">' + value.to_user_name + '</span><span class="fw-600 fs-6 ml-4">Deadline: </span> &nbsp;&nbsp;<span class="fs-6 fw-500">' + deadlineText + '</span><button type="button" class="btn-close text-capitalize px-10 mt-1 float-end confirmDeleteBtn" data-id="' + value.id + '"><span class="la-close las"></span></button></li>');

         $('#remindersList').append(newItem);

      }

      $('#submitBtn').click(function (e) {
         var hours = $('#hours').val();
         var minutes = $('#minutes').val();

         var to_user_id = $('#usersList').val();

         if (hours == null || minutes == null) {
            e.preventDefault();
           	alert('hours or minutes not selected!');
         }

         $('#deadline').val(hours + ':' + minutes);
         $('#to_user_id').val(to_user_id);
      });

      $('.confirmDeleteBtn').click(function () {
         var id = $(this).data('id');
         $.ajax({
            url: "{{ url_for('routes.reminder_delete') }}",
            type: "GET",
            data: {
               id: id,
               projectId: "{{ projectId }}"
            },
            success: function (data) {
               if (data == 'success') {
                  location.reload();
               }
            }
         });
      });


   });

</script>

{% endblock %}